{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="article">
                <h1>Catalogue of plants</h1><br>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Lp.</th>
                                <th>Name</th>
                                <th>Latin Name</th>
                                <th></th>
                                {% if is_granted('ROLE_USER') %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            {% for plant in plants %}
                                <tr>
                                    <td>{{ plant.id }}</td>
                                    <td>{{ plant.name }}</td>
                                    <td>{{ plant.latinName }}</td>
                                    <td><a href="{{ path('showPlant', {'id': plant.id}) }}">show</a></td>
                                    {% if is_granted('ROLE_USER') %}
                                        <td><a href="{{ path('addPlant', {'id': plant.id})}}"
                                               onclick="return confirm('Are you sure?')">add</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}