{% extends 'plant/index.html.twig' %}

{% block body_plants %}
    {% for plant in plants %}
        <div class="col-md-4">
            <div class="cardView">
                <div class="cardHeader">
                    {% if plant.isWatered != true %}
                        <img class="cardImage" src="{{ asset('images/wateringCan.png') }}"
                             alt="{{ 'navigation_buttons.icon_watering_can' | trans }}"
                             title="{{ 'text_and_label.info_about_watering_icon' | trans }}"
                        >
                    {% endif %}
                    <p class="plantName">
                        {{ plant.name }}
                    </p>
                </div>
                <div class="cardContent">
                    <p>{{ 'text_and_label.text_in_card_view' | trans }}
                        {% if plant.isDaily == true %}
                            {{ plant.frequency }} {{ 'plant_label.plant_daily' | trans }}
                        {% else %}
                            {{ 'plant_label.plant_evry' | trans }} {{ plant.frequency }} {{ 'plant_label.plant_day' | trans }}
                        {% endif %}
                        {{ 'text_and_label.with' | trans }} {{ plant.amount}}
                        {{ 'text_and_label.liters' | trans }}
                    </p>
                    <p>
                        {{ 'text_and_label.last_day_watered' | trans }}
                        <i>{{ plant.dateLastWatered.format('Y-m-d') }}</i>
                    </p>
                    <a class="readMoreLink" href="{{ path('showPlant', {'id': plant.id}) }}">
                        <b>
                            <i>
                                {{ 'navigation_buttons.show_details' | trans }}
                            </i>
                        </b>
                    </a>
                </div>
                <div class="line-separator"></div>
                <div class="cardFooter">
                    {% if plant.isWatered  %}
                        <a class="btn btn-primary buttonRound" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                           name="watered" title="{{ 'navigation_buttons.watered_plant' | trans }}"
                           onclick="return confirm('{{ 'text_and_label.text_about_watered_plant' | trans }}')">
                            <span class="glyphicon glyphicon-tint"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-primary buttonRound" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                           name="watered" title="{{ 'navigation_buttons.watered_plant' | trans }}"
                        >
                            <span class="glyphicon glyphicon-tint"></span>
                        </a>
                    {% endif %}
                    <a class="btn btn-success buttonRound" href="{{ path('plantEdit', {'id': plant.id}) }}">
                        {{ 'navigation_buttons.edit' | trans }}
                    </a>
                    <a class="btn btn-danger buttonRound" href="{{ path('plantRemove', {'id': plant.id}) }}"
                       title="{{ 'navigation_buttons.remove_plant' | trans }}"
                       onclick="return confirm('{{ 'text_and_label.text_about_delete_plant' | trans }}')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/cardViewStyle.css') }}">
{% endblock %}