{% extends 'plant/index.html.twig' %}

{% block body_plants %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Lp.</th>
                <th></th>
                <th>{{ 'plant_label.plant_name' | trans }}</th>
                <th>{{ 'plant_label.plant_when' | trans }}</th>
                <th>{{ 'plant_label.plant_amount' | trans }}</th>
                <th>{{ 'plant_label.plant_when' | trans }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for plant in plants %}
                <tr>
                    <td>{{ plant.id }}</td>
                    <td>
                        {% if plant.isWatered != true %}
                            <img src="{{ asset('images/wateringCanSamll.png') }}"
                                 alt="{{ 'navigation_buttons.icon_watering_can' | trans }}"
                                 title="{{ 'text_and_label.info_about_watering_icon' | trans }}"
                            >
                        {% endif %}
                    </td>
                    <td>{{ plant.name }}</td>
                    {% if plant.isDaily == true %}
                        <td>{{ plant.frequency }}{{ 'plant_label.plant_daily' | trans }}</td>
                    {% else %}
                        <td>{{ 'plant_label.plant_evry' | trans }}{{ plant.frequency }}{{ 'plant_label.plant_day' | trans }}</td>
                    {% endif %}
                    <td>{{ plant.amount}}</td>
                    <td>{{ plant.dateLastWatered.format('Y-m-d') }}</td>
                    <td>
                        {% if plant.isWatered  %}
                            <a class="btn btn-primary" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                               name="watered" title="{{ 'navigation_buttons.watered_plant' | trans }}"
                               onclick="return confirm('{{ 'text_and_label.text_about_watered_plant' | trans }}')">
                                <span class="glyphicon glyphicon-tint"></span>
                            </a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                               name="watered" title="{{ 'navigation_buttons.watered_plant' | trans }}"
                            >
                                <span class="glyphicon glyphicon-tint"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td><a class="btn btn-default" href="{{ path('showPlant', {'id': plant.id}) }}">{{ 'navigation_buttons.show' | trans }}</a></td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('plantRemove', {'id': plant.id}) }}"
                           title="{{ 'navigation_buttons.remove_plant' | trans }}"
                           onclick="return confirm('{{ 'text_and_label.text_about_delete_plant' | trans }}')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}