{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>{{ 'navigation_buttons.add_plant'|trans }}</h1>
    {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" value="{{ 'navigation_buttons.add'|trans }}" class="btn btn-success">
            <a class="btn btn-default" href="{{ path('myPlants') }}">
                {{ 'navigation_buttons.back_to_my_plant'|trans }}
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

