{% extends 'base.html.twig' %}

{% block body %}
    {% if plants|length == 0 %}
        <p><b>You don't have any plants.</b></p>
        <p>Add plants in Catalogue of plants</p>
    {% else %}
        <h1>My plants</h1><br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Lp.</th>
                    <th></th>
                    <th>Name</th>
                    <th>When</th>
                    <th>Amount in liters</th>
                    <th>Last day watered</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for plant in plants %}
                    <tr>
                        <td>{{ plant.id }}</td>
                        <td>
                            {% if plant.isWatered != true %}
                            <img src="{{ asset('images/wateringCan.png') }}" alt="Watering">
                            {% endif %}
                        </td>
                        <td>{{ plant.name }}</td>
                        {% if plant.isDaily==true %}
                            <td>{{ plant.frequency }} times a day</td>
                        {% else %}
                            <td>every {{ plant.frequency }} day</td>
                        {% endif %}
                        <td>{{ plant.amount}}</td>
                        <td>{{ plant.dateLastWatered.format('Y-m-d') }}</td>
                        <td>
                            {% if plant.isWatered  %}
                                <a class="btn btn-primary" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                                   title="watered"
                                   onclick="return confirm('It is not the time to water the plant. ' +
                                                           'Do you really want to water your plant?')">
                            {% else %}
                                 <a class="btn btn-primary" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                                    title="watered">
                            {% endif %}
                            <span class="glyphicon glyphicon-tint"></span>
                            </a>
                        </td>
                        <td><a class="btn btn-default" href="{{ path('showPlant', {'id': plant.id}) }}">show</a></td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('plantRemove', {'id': plant.id}) }}"
                               onclick="return confirm('Are you sure you want to delete this plant?')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
