{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="article">
                {% if plants==null %}
                    <b><p> You haven't any plants.</p></b>
                    <p>Add plants in Catalogue of plants</p>
                {% else %}
                    <h1>My plants</h1><br>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Lp.</th>
                                <th>Name</th>
                                <th>How many days watered</th>
                                <th>How many times a day watered</th>
                                <th>Amount in liters</th>
                                <th>Is watered</th>
                                <th></th>
                            </tr>
                            {% for plant in plants %}
                                <tr>
                                    <td>{{ plant.plantSpecification.id }}</td>
                                    <td>{{ plant.plantSpecification.name }}</td>
                                    <td>{{ plant.plantSpecification.frequencyDays }}</td>
                                    <td>{{ plant.plantSpecification.frequency }}</td>
                                    <td>{{ plant.plantSpecification.amount}}</td>
                                    {% if plant.isWatered %}
                                        <td>yes</td>
                                    {% else %}
                                        <td>no</td>
                                    {% endif %}
                                    <td><a href="{{ path('showPlant', {'id': plant.plantSpecification.id}) }}">show</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}