{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'text_and_label.text_details' | trans }}</h1><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>{{ 'plant_label.plant_name' | trans }}</th>
                <td>{{ plant.name }}</td>
            </tr>
            <tr>
                <th>{{ 'plant_label.plant_description' | trans }}</th>
                <td>{{ plant.description }}</td>
            </tr>
            <tr>
                <th>{{ 'plant_label.plant_place' | trans }}</th>
                <td>{{ plant.place }}</td>
            </tr>
            <tr>
                <th>{{ 'plant_label.plant_when' | trans }}</th>
                    {% if plant.isDaily==true %}
                <td>{{  plant.frequency }}{{ 'plant_label.plant_daily' | trans }}</td>
                {% else %}
                    <td>{{ 'plant_label.plant_evry' | trans }}
                        {{ plant.frequency }}
                        {{ 'plant_label.plant_day' | trans }}
                    </td>
                {% endif %}
            </tr>
            <tr>
                <th>{{ 'plant_label.plant_amount' | trans }}</th>
                <td>{{ plant.amount }}</td>
            </tr>
            <tr>
                <th>{{ 'text_and_label.last_day_watered' | trans }}</th>
                <td>{{ plant.dateLastWatered.format('Y-m-d') }}</td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <a class="btn btn-primary" href="{{ path('plantSetWatered', {'id': plant.id}) }}"
                       title="{{ 'navigation_buttons.watered_plant' | trans }}">
                        <span class="glyphicon glyphicon-tint"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <a class="btn btn-success" href="{{ path('plantEdit', {'id': plant.id}) }}">{{ 'navigation_buttons.edit'|trans }}</a>
    <a class="btn btn-default" href="{{ path('myPlants') }}">{{ 'navigation_buttons.back_to_my_plant'|trans }}</a>

{% endblock %}