{% extends ':homeView:base.html.twig' %}

{% block body_head %}
    <div class="jumbotron text-center">
        <div class="container-head">
            <h1>Chloris</h1>
            <p>{{ 'text_on_homepage.web_application' |trans }}</p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="about" class="background-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Chloris</h1>
                    <h3>
                        <i>{{ 'text_on_homepage.web_application' | trans }}</i>
                    </h3>
                    <br>
                    <p>{{ 'text_on_homepage.what_is_chloris' | trans }}</p>
                    <p>{{ 'text_on_homepage.how_work_chloris' | trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="start" class="background-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'text_on_homepage.how_start' | trans }}</h1>
                    <br>
                    <p>{{ 'text_on_homepage.first_advice' | trans }}</p>
                    <p>{{ 'text_on_homepage.second_advice' | trans }}</p>
                    <p>{{ 'text_on_homepage.third_advice' | trans }}</p>
                    <br>
                </div>
                <div class="row">
                    <div class="col-sm-4 glyphiconStyle">
                        <span class="glyphicon glyphicon-log-in" title="{{ 'text_and_label.log_in' | trans }}"></span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset('images/wateringCanToHome.png') }}"
                             alt="{{ 'navigation_buttons.icon_watering_can' | trans }}"
                             title="{{ 'text_and_label.text_watering' | trans }}"
                        >
                    </div>
                    <div class="col-sm-4 glyphiconStyle ">
                        <span class="glyphicon glyphicon-tint"
                              title="{{ 'navigation_buttons.watered_plant' | trans }}">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="background-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'navigation_buttons.contact' | trans }}</h1><br>
                    <p><b>Email:</b> zaneta.larwa@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
